<div class="container" >
    <!--<img src="https://static.vecteezy.com/system/resources/thumbnails/033/611/193/small_2x/the-beautiful-city-of-udaipur-in-india-ai-generated-photo.jpg"class="rounded float-end pt-5 " style="width:60vw;height:100vh;"alt="image">-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/033/611/193/small_2x/the-beautiful-city-of-udaipur-in-india-ai-generated-photo.jpg"class="rounded float-end pt-5 " style="width:50vw;height:100vh;"alt="image">
          </div>
          <div class="carousel-item">
            <img src="https://t4.ftcdn.net/jpg/09/18/28/91/360_F_918289176_okSMBuj2V5qYCHGpd5sTkC1Rk7xShnle.jpg" class="rounded float-end pt-5 " style="width:50vw;height:100vh;"alt="image">
          </div>
          <div class="carousel-item">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/030/831/776/small_2x/a-beautiful-archway-in-the-middle-of-a-garden-ai-generated-photo.jpg" class="rounded float-end pt-5 " style="width:50vw;height:100vh;"alt="image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
