<h1 class="first">INDIAN TOURISM</h1>
<app-corousal></app-corousal>
<div class="container">
    <figure class="text-start">
      <blockquote class="blockquote" style="color: rgb(32, 30, 30);">
        <p><em>We have nothing to lose and a world to see.</em></p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Somerwill<cite title="Source Title">Source Title</cite>
      </figcaption>
    </figure>
    <p class="body-para">India is a country that attracts millions of tourists every year<br> and is considered one of the most popular tourist destinations<br> in the world.These visitors are attracted to its natural beauty<br> and cultural heritage.Tourism in India has been seen as a major<br> tool to bring about socio-economic development to the people<br> of the country.</p>
    </div>
   